.header{
    position: absolute;
    left: 20px;
    top: 7px;
}


#infoButton{
    position: relative;
    left: 1780px;
    bottom: 210px;
    width: 110px;
    height: 40px;
    border-radius: 8PX;
    border-width: 2px ;
    background-color: rgb(241, 252, 255);
}

#helpButton{
    position: relative;
    left: 1550px;
    bottom: 210px;
    width: 110px;
    height: 40px;
    border-radius: 8PX;
    border-width: 2px ;
    background-color: rgb(241, 252, 255);
}

#EmployeeManageButton {
    position: relative;
    left: 284px;
    top: 170px;
}

#productManageButton {
    position: relative;
    left: 668px;
    top: 170px;
}

#productManageButton,
#EmployeeManageButton{
    width: 400px;
    height: 500px;
    border-radius: 20PX;
    background-color: rgb(241, 252, 255);
    font-size: 30PX;
    cursor: pointer;
}