#mainHeader{
    display: flex;
    justify-content: space-between; /* 로고, 중앙 버튼 그룹, 우측 버튼 배치 */
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8); /* 반투명 헤더 배경 */
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* 내부 요소 정렬 기준 */
}

#brand{
    display: flex;
    align-items: center;
}

#logo{
    height: 40px;
    margin-right: 10px;
}

#brandName{
    font-size: 1.5rem;
    color: #555;
    margin: 0;
}

  #info {
    display: flex;
    align-items: center;
  }
  
  #infoButton{
    border-style: none;
    background-color: none;
  }



#mainBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#infoButton{
    position: relative;
    width: 110px;
    height: 40px;
    border-radius: 8PX;
    border-width: 2px ;
    background-color: rgb(241, 252, 255);
}

#mainContent{
    display: flex;
}
#EmployeeManageButton {
    position: relative;
}

#productManageButton {
    position: relative;
}

#productManageButton,
#EmployeeManageButton{
    width: 400px;
    height: 500px;
    border-radius: 20PX;
    background-color: rgb(241, 252, 255);
    font-size: 30PX;
    cursor: pointer;
}