<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mapper.EmployeeMapper">
    <select id="getAllEmployees" resultType="com.project.dto.EmployeeDto">
        SELECT e.e_num, e.e_name, e.e_birth, e.e_level, e.e_tel_num, e.e_key, e.e_team, v.vacation_id
        FROM employee_info e
        JOIN vacation v ON e.e_key = v.e_key;
    </select>
    
    <insert id="add" parameterType="com.project.dto.EmployeeDto">
	INSERT INTO employee_info(e_num, e_name, e_team, e_level) values(#{e_num}, #{e_name}, #{e_team}, #{e_level});
	</insert>

	<select id="pageList" parameterType="int" resultType="com.project.dto.RegisterDto">
	SELECT * FROM (SELECT * FROM employee_info ORDER BY e_key DESC LIMIT #{no}, 10
	) e LEFT JOIN member_info m ON e.e_key = m.e_key ;
	</select>
	
	<select id="employeeCount" resultType="int">
	SELECT COUNT(*) FROM employee_info;
	</select>
	
	<delete id="deleteEmployee" parameterType="list">
	    DELETE FROM member_info 
    WHERE e_key IN (
        SELECT e_key FROM employee_info 
        WHERE e_num IN
        <foreach collection="list" item="eNums" open="(" separator="," close=")">
            #{eNums}
        </foreach>
    );
    
    DELETE FROM vacation 
    WHERE e_key IN (
        SELECT e_key FROM employee_info 
        WHERE e_num IN
        <foreach collection="list" item="eNums" open="(" separator="," close=")">
            #{eNums}
        </foreach>
    );
    
	   DELETE FROM employee_info 
    WHERE e_num IN
    <foreach collection="list" item="eNums" open="(" separator="," close=")">
        #{eNums}
    </foreach>
	</delete>
</mapper>
