<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.FindMapper">

    <!-- 사용자 정보로 비밀번호를 조회하는 SQL -->
    <select id="getPasswordByInfo" resultType="String">
        SELECT m_pw FROM member_info
        WHERE m_id = #{e_name}
        AND m_birth = #{e_birthdate}
        AND m_tel_num = #{e_tel_num}
    </select>

</mapper>
