<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.RegiMapper">
    <!-- 직원 정보 삽입 -->
    <insert id="setRegisterEmployee" parameterType="com.project.dto.RegisterDto" useGeneratedKeys="true" keyProperty="e_key">
       UPDATE employee_info
  		  SET 
        e_name = #{e_name},
        e_birth = #{e_birth},
        e_carrier = #{e_carrier},
        e_tel_num = #{e_tel_num}
    	WHERE e_num = #{e_num}
    </insert>

	<select id="pullKey" parameterType="com.project.dto.RegisterDto" resultType="int">
	SELECT e_key FROM employee_info WHERE e_num = #{e_num}
	</select>

    <!-- 회원 정보 삽입 -->
    <insert id="setRegisterMember" parameterType="com.project.dto.RegisterDto">
        INSERT INTO member_info(
            authority,
            m_id,
            m_pw,
            e_key
        ) VALUES (
            #{authority},
            #{m_id},
            #{m_pw},
            #{e_key}
        )
    </insert>

    <!-- 회원 ID 목록 조회 -->
    <select id="pullId" resultType="com.project.dto.RegisterDto">
        SELECT m_id
        FROM member_info
    </select>

</mapper>
