<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.RegiMapper">
	<insert id="setRegisterMember" parameterType="com.project.dto.RegisterDto" useGeneratedKeys="true" keyProperty="m_key">
		insert into member_info(
		authority,
		m_id,
		m_pw
		)values(
		#{authority},
		#{m_id},
		#{m_pw}
		)
	</insert>
	<insert id="setRegisterEmployee" parameterType="com.project.dto.RegisterDto">
		insert into employee_info(
		e_name,
		e_birth,
		e_carrier,
		e_tel_num,
		m_key
		)values(
		#{e_name},
		#{e_birth},
		#{e_carrier},
		#{e_tel_num},
		#{m_key}
		)
	</insert>
	<select id="pullId" resultType="com.project.dto.RegisterDto">
	select m_id from member_info
	</select>
</mapper>

