

/* body css */
body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333333;
  min-height: 100vh;
  position: relative; /* 레이아웃 안정성 확보 */
  background-color: #fffdf9; /* 배경색 설정 (기본 흰색에 가까운 베이지 색) */
  justify-items: center;
}

#loginHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color:  #fffdf9;
  position: relative; /* 내부 요소 정렬 기준 */
}

#logo{
  width: 200px;
  height: 200px;
}

#brandName{
  position: relative;
  bottom: 10px;
  font-size: 3rem;
  color: #393939;
  margin: 0;
}

#loginBox{
  display: flex;
  justify-content: center;    /* 왼쪽 정렬 */
  width: 1700px;
  height: 600px;
}

#login {
  border: 2px solid #333; /* 더 진한 테두리 색상으로 변경 */
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.95); /* 더 밝은 배경 */
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#loginUi{
  position: relative;
  bottom: 30px;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#id,#pw{
  width: 300px;
  height: 70px;
  border-style: solid;
  border-color: #333;
  border-width: 2px;
font-size: 17px;
}

#loginButton{
margin-top: 40px;
width: 300px;
height: 60px;
font-family: Arial, sans-serif;
font-size: 1.2rem;
background-color: #c8dcf4;
border-radius: 8px;
cursor: pointer;

}

#regiFindBox{
  display: flex;
  justify-content: space-between; /* 로고, 중앙 버튼 그룹, 우측 버튼 배치 */
  font-size: 20px;
  cursor: default;
  position: relative;
  bottom: 50px;
  left: 5px;
}

#findIdPwButton,#regiButton{
  background:none;
  border-style: none;
  cursor: pointer;
}

#regiButton{
  position: relative;
  right: 10px;
}
#findIdPwButton{
  position: relative;
  left: 12px;
}

#loginSaveCheck{
  position: relative;
  bottom: 180px;
  right: 80px;
  font-family: Arial, sans-serif;
}

#loginSaveCheckLabel{
  cursor: pointer;
}

#checkbox{
  appearance: none; /*기본 체크박스 스타일 제거 */
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
#checkbox:checked{
  background-color: #cee0f4;
  color: rgb(11, 105, 172);
  border-color: #333;
}

#checkbox:before{
  font-size: 8px;
content: '✔';
position: relative;
bottom:2px ;
left: 3px;
}
