* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#loginpop {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  border-style: solid;
  border-width: 2px;
  text-align: center;
  width: 500px;
  height: 700px;
}

.AppHeader {
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  justify-content: center;
  align-items: center;
  margin-top: 90px; /* 헤더 상단 간격 조정 */
}

#postUnderdog {
  font-size: 3rem;
  color: #4CAF50;
  font-family: 'Arial', sans-serif;
}

#loginUi {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 120px;
}

.button {
  background-color: #61dafb;
}

#id,
#pw {
  position: relative;
  width: 200px;
  height: 40px;
  border-radius: 5px;
}

#loginButton {
  position: relative;
  width: 200px;
  top: 30px;
  border-radius: 5px; 
}

#findIdPwButton {
  position: relative;
  width: 100px;
  top: 100px;
  border-radius: 5px; 
}

#regiButton {
  position: relative;
  width: 100px;
  top: 100px;
  border-radius: 5px; 
}

.linkButton {
  position: relative;
  top: 135px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 14px;
  color: rgb(85, 85, 85);
  
}

.linkButton:first-of-type {
  left: 110px;
  width: 70px;
}

.linkButton:last-of-type {
  right: 97px;
}

#loginSaveCheck {
  position: relative;
  top: 140px;
  right: 27px;
}
#loginSaveCheck input {
  margin-right: 9px; /* 체크박스와 텍스트 사이 간격 */
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  height: 120px;
}