

/* body css */
  #loginPage{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    height: 100vh;
    position: relative; /* 레이아웃 안정성 확보 */
    background-color: #f9f9f9; /* 배경색 설정 (기본 흰색에 가까운 색) */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #loginHeader{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9; /* 배경색 설정 (기본 흰색에 가까운 색) */
    font-size: larger;
}

#logo{
  height: 55%;
  min-height: 60px;
  width:40%;
  max-width: 100px;
}

#brandNameone{
  font-size: 1.7em;
  color: #393939;
}
#brandNametwo{
  font-size: 0.8em;
  color: #393939;
}

#login {
  width: 80vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
}


#loginUi{
  position: relative;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#id,#pw{
  border-style: solid;
  border-color: #333;
  border-width: 2px;
  min-height: 40px;
  max-height: 50px;
  max-width: 250px;
  width: 70%;
  height: 30%;
}

#loginButton{
  font-family: Arial, sans-serif;
  background-color: #b8c9df;
  border-radius: 8px;
  cursor: pointer;
  min-height: 30px;
  max-height: 40px;
  max-width: 250px;
  width: 70%;
  height: 20%;
}

#regiFindBox{
  width: 60%;
  height: 10%;
  display: flex;
  justify-content: center;
  font-size: 1em;
  margin-top: 40px;
  cursor: default;
  position: relative;
  padding-left: 15px;
  gap: 10px;
}

#findIdPwButton,#regiButton{
  position: relative;
  top: 3px;
  background:none;
  border-style: none;
  cursor: pointer;
  height: 10%;
}

#findIdPwButton{
  position: relative;
  top: 4px;
  font-size: 0.7em;
}

#loginSaveCheck{
  width: 40%;
  min-width: 160px;
  max-width: 240px;
  height: 10%;
  position: relative;
  display: flex;
  justify-content: start;
  font-family: Arial, sans-serif;
  font-size: 0.9em;
}

#loginSaveCheckLabel{
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

#checkbox {
  appearance: none; /* 기본 체크박스 스타일 제거 */
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  width: 20px; /* 크기 조정 */
  height: 20px; /* 크기 조정 */
  position: relative; /* 위치를 상대적으로 설정 */
  display: inline-block;
}

#checkbox:checked {
  background-color: #cee0f4;
  border-color: #333;
}

#checkbox::after {
  content: ''; /* 기본 내용 비우기 */
  position: absolute;
  font-size: 1em;
  color: #cfcece;
  display: none; /* 기본적으로 표시되지 않음 */
  top: 50%; /* 세로 중앙 정렬 */
  left: 50%; /* 가로 중앙 정렬 */
  transform: translate(-50%, -50%); /* 정확한 중앙 정렬 */
}

#checkbox:checked::after {
  content: '✔'; /* 체크된 상태에서 ✔ 표시 */
  color: rgb(11, 105, 172); /* 체크된 상태에서 표시되는 색상 */
  display: block; /* 체크된 상태에서만 ✔ 표시 */
}
