
#productMainPage{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  min-height: 100vh;
  position: relative; /* 레이아웃 안정성 확보 */
  background-color: #f9f9f9; /* 배경색 설정 (기본 흰색에 가까운 색) */
}

.container {
  position: relative;
  width: 360px;
  text-align: left;
  font-size: 20px;
  background-color: antiquewhite;
}

.menuButton {
  position: relative;
}

#main {
  position: relative;
  left: 150px;
  border-style: solid;
  width: 1600px;
  height: 700px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  overflow: scroll;       /* 스크롤 활성화 */
  scrollbar-width: none;  /* Firefox에서 스크롤 바 숨김 */

}

/* 크롬, 사파리에서 스크롤 바 숨기기 */
.container::-webkit-scrollbar {
  display: none;
}

#goMainButton{
position: relative;
}

#deleteButton, #editButton{
  position: relative;
}


#listButton, #addButton{
  position: relative;
}

#menu{
  position: relative;
}