* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}


.container {
    position: relative;
    background-color: antiquewhite;
}

.menuButton {
    position: relative;
}

.addSettingBox {
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

#main {
    position: relative;
    left: 150px;
    width: 1600px;
    height: 800px;
    border-style: solid;
    display: flex;
    justify-content: center;
}

#add{
    position: relative;
}

#previewImage {
    position: relative;
    width: 200px;
    height: 200px;
    border-style: solid;
    background-color: rgb(219, 219, 219);
}

#imageButtonLabel {
    position: relative;
    width: 140px;
    cursor: pointer;
    border-style: solid;
    text-align: center;
}

#setSellingBox,
#setSellingLabel {
    cursor: pointer;
}