.product {
    background-color: rgb(228, 228, 228);
    height: 170px;
    width: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style:solid ;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
  }

.editInput{
    width: 130px;
    height: 20px;
  }

#checked{
    position: relative;
    left: 10px;
}

#productImage{
    position: relative;
    bottom: 25px;
    left: 20px;
    width: 100px;
    height: 100px;
    background-color: beige;
    border-style: solid;
    border-width: 2px;
  }
  
  #productCode{
    position: relative;
    top: 50px;
  }
  #productName{
    position: relative;
    top: 10px;
    left: 40px;
  }
  #productPrice{
    position: relative;
    left: 100px;
    bottom: 40px;
}
#productPriceUnit{
    position: relative;
    left: 105px;
    bottom: 40px;
    width: 70px;
  }
  #productDiscount{
    position: relative;
    right: 85px;
  }
  #productCost{
    position: relative;
    top: 40px;
    right: 215px;
}
#productCostUnit{
    position: relative;
    top: 40px;
    right: 210px;
  }
  #productFirstCategory{
    position: relative;
    width: 200px;
    right: 130px;
    bottom: 25px;
}
#productSecondCategory{
    position: relative;
    width: 100px;
        top: 25px;
    right: 195px;
  }
  #productSelling{
    position: relative;
    right: 50px;
  }
  