<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mapper.FindMapper">

    <select id="findIdByDetails" parameterType="com.project.dto.EmployeeDto" resultType="java.lang.String">
        SELECT m.m_id
        FROM member_info m
        JOIN employee_info e ON m.m_key = e.m_key
        WHERE e.e_name = #{e_name}
          AND e.e_tel_num = #{e_tel_num}
          AND e.e_birth = #{e_birth};
    </select>
	
	<select id="findPwByDetails" parameterType="com.project.dto.FindPwDto" resultType="java.lang.String">
	    SELECT m.m_pw
	    FROM member_info m
	    JOIN employee_info e ON m.m_key = e.m_key
	    WHERE m.m_id = #{m_id}
	      AND e.e_tel_num = #{e_tel_num};
	</select>

</mapper>