.errorMessage {
  color: rgb(203, 48, 48);
}

.successMessage {
  color: rgb(11, 233, 55);
}

@media (max-width: 768px) {
  .registerInput {
    width: 100%;
    height: 5vh;
    max-width: 400px;
    font-size: 0.8em;
  }
  
  #registerForm {
    font-size: 0.9em;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #registerBox{
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #eNumBox {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-bottom: 1%;
  }
  
  #idAllBox {
    display: flex;
    position: relative;
    align-items: center;
    width: 65%;
    gap: 10px;
    margin-bottom: 1%;
  }
  
  #idBox {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  
  #idCheckButton {
    background-color: #b8c9df;
    position: absolute;
    bottom: 4%;
    right: 0;
    height: 60%;
    width: 25%;
    font-size: 0.6em;
  }
  
  #pwBox {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-bottom: 1%;
  }
  #nameBox {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-bottom: 1%;
  }
  
  #birthBox {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-bottom: 1%;
  }
  
  #numBox {
    position: relative;
    display: flex;
    align-items: center;
    width: 65%;
    gap: 5%;
    margin-bottom: 1%;
  }
  
  #onlyNum{
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  #numBoxInput {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 0.6em;
    gap: 3%;
    align-items: center;
  }
  
  #carrier {
    font-size: 0.6em;
    position: absolute;
    bottom: 4%;
    right: 0;
    height: 60%;
    width: 25%;
  }
  
  #loginButton {
    background-color: #b8c9df;
    border-radius: 8px;
    position: relative;
    top: 5%;
    width: 20%;
    height: 5%;
  }

  
}

@media (min-width: 769px){
  .registerInput {
    width: 100%;
    height: 5vh;
    max-width: 400px;
    font-size: 0.8em;
  }
  
  #registerForm {
    font-size: 0.9em;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #registerBox{
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #eNumBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    margin-bottom: 1%;
  }
  
  #idAllBox {
    display: flex;
    position: relative;
    align-items: center;
    width: 35%;
    gap: 10px;
    margin-bottom: 1%;
  }
  
  #idBox {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  
  #idCheckButton {
    background-color: #b8c9df;
    position: absolute;
    bottom: 4%;
    right: 0;
    height: 60%;
    width: 25%;
    font-size: 0.6em;
  }
  
  #pwBox {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-bottom: 1%;
  }
  #nameBox {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-bottom: 1%;
  }
  
  #birthBox {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-bottom: 1%;
  }
  #birth{
    font-size: 1em;
  }
  
  #numBox {
    position: relative;
    display: flex;
    align-items: center;
    width: 35%;
    gap: 5%;
    margin-bottom: 1%;
  }
  
  #onlyNum{
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  #numBoxInput {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 0.6em;
    gap: 3%;
    align-items: center;
  }
  
  #carrier {
    font-size: 0.6em;
    position: absolute;
    bottom: 4%;
    right: 0;
    height: 60%;
    width: 25%;
  }
  
  #loginButton {
    background-color: #b8c9df;
    border-radius: 8px;
    position: relative;
    top: 5%;
    width: 20%;
    height: 5%;
  }
}

