.title {
    color: #ffee00;
    font-family: 'Arial', sans-serif;
  }  
/* 준강 추가내용 */
#button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

#button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#successMessage {
  color: green;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

#errorMessage {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
  
  
/* 재훈 추가내용 */
#name {
  width: 200px;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#birthDate {
  width: 200px;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* ----재훈 추가내용---- */
#id {
  width: 200px;
  top: 100px;
}

#pw {
  width: 200px;
  top: 100px;
}

#confirmPw {
  width: 200px;
  top: 1200px;
}