/* 메인 컨테이너 */
.mainBox {
  width: 1400px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #333;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 8px;
  height: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

/* 팝업 스타일 */
.popup {
  position: fixed; /* 화면에 고정 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* 다른 요소 위에 표시 */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
}

/* 오버레이 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  z-index: 999; /* 팝업 아래에 위치 */
}

/* 신청한 휴가 목록 */
.appliedVacations {
  width: 1200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 버튼 */
.buttons {
  display: flex;
  gap: 10px;
}

.horizontalForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formRow label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

textarea {
  resize: none;
  width: 100%;
  height: 80px;
}

.formButtons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
