.tableContainer {
    width: 90%;
    max-width: 800px; /* 테이블 크기 유지 */
    border-radius: 8px;
    overflow: hidden; /* border가 테이블과 같이 유지되도록 */
    
}

#vacationList {
    border-collapse: separate; /* border-spacing을 적용하려면 separate로 설정 */
    border-spacing: 1px 2px;
    width: 100%;
}

.tbodyScroll {
    max-height: 500px; /* tbody 높이 제한 */
    overflow: scroll;
    display: block;
    width: 100%;
}

.tbodyScroll table {
    width: 100%;
    border-collapse: collapse;
}

#vacationList thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#listBox { 
    border-collapse: separate; /* border-spacing을 적용하려면 separate로 설정 */
    border-spacing: 1px 8px;
    display: table;
    width: 100%;
    table-layout: fixed;
}

/* 컬럼 스타일 */
.columnTitle, .column {
    border: 1px solid rgb(68, 68, 68); /* 기존 border 유지 */
    font-size: 0.6em;
    padding: 1%;
    text-align: center;
}

.columnTitle{
    font-size: 0.7em;
    border: 2px solid rgb(68, 68, 68); /* 기존 border 유지 */

}

/* 버튼 스타일 */
.approveButton {
    font-size: 0.9em;
    background-color: #dfeefe;
    border: 1px solid #333;
    padding: 2px;
}

@media (min-width: 769px) {
    .tbodyScroll {
        max-height: 90px; /* tbody 높이 제한 */
        overflow: scroll;
        display: block;
        width: 100%;
    }
}
