#vacationList {
    border-collapse: separate; /* border-spacing을 적용하려면 separate로 설정 */
    border-spacing: 3px 8px;
    width: 100%;
}


/* 컬럼 스타일 */
.column {
    border: 1px solid rgb(68, 68, 68); /* 기존 border 유지 */
    font-size: 0.6em;
    padding: 1%;
    text-align: center;
    align-items: center;
}

.columnTitle{
    font-size: 0.7em;
    border: 2px solid rgb(68, 68, 68); /* 기존 border 유지 */
    align-items: center;
    text-align: center;
}

/* 버튼 스타일 */
.approveButton {
    font-size: 0.9em;
    background-color: #dfeefe;
    border: 1px solid #333;
    padding: 2px;
}